mat-card {
  width: 500px;
  padding: 0 0 0 0;
}
mat-icon {
  height: 10px;
  width: 10px;
}
mat-icon:hover {
  cursor: pointer;
}
mat-paginator {
  background: inherit;
}
img {
  height: 50px;
  width: 50px;
}
mat-grid-tile {
  padding: 0 0 0 0;
  size: 35px;
}
.card-top {
  background-color: blanchedalmond;
}
