<div fxLayout="column">
  <form [formGroup]="form">
    <div class="radioStyle" fxLayout="row" fxLayoutAlign="center center">
      <input id="Male" type="radio"  value="Male"  formControlName="gender"/>
      <label class="gender male" for="Male"></label>
      <input id="Female" type="radio" value="Female" formControlName="gender"/>
      <label class="gender female" for="Female"></label>
    </div>
    <mat-grid-list cols="2" rowHeight="300px">
      <mat-grid-tile>
        <div class="controller-container">
          <mat-form-field>
            <input matInput formControlName="firstName" placeholder="First Name">
            <mat-error>Enter name</mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-select formControlName="state" placeholder="Choose state" (selectionChange)="updateCity()">
              <ng-container *ngFor="let stateOptions of stateList">
                <mat-option [value]="stateOptions">{{stateOptions}}</mat-option>
              </ng-container>
            </mat-select>
            <mat-error>choose state</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input formControlName="startDate" matInput [matDatepicker]="startDatePicker"  (dateInput)="setMinDate()" [max]="maxDate"  placeholder="Start date">
            <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #startDatePicker></mat-datepicker>
            <mat-error>Pick start Date</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput formControlName="CE" placeholder="CE" type="number" step="1">
            <mat-error>Enter valid number for CE</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput formControlName="CS" placeholder="CS" type="number" step="1">
            <mat-error>Enter valid number for CS</mat-error>
          </mat-form-field>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="controller-container">
          <mat-form-field>
            <input matInput formControlName="lastName" placeholder="Last Name">
            <mat-error>Enter name</mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-select formControlName="city" placeholder="Choose city">
              <ng-container *ngFor="let cityOptions of cityList">
                <mat-option [value]="cityOptions">{{cityOptions}}</mat-option>
              </ng-container>
            </mat-select>
            <mat-error>choose city</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input formControlName="endDate" matInput [matDatepicker]="endDatePicker" (dateChange)="setMaxDate()" [min]="minDate" placeholder="End date">
            <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #endDatePicker></mat-datepicker>
            <mat-error>Pick end date</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput formControlName="CN" placeholder="CN" type="number" >
            <mat-error>Enter valid number for CN</mat-error>
          </mat-form-field>
          <button mat-raised-button type="submit" color="primary" [disabled]="form.invalid" matTooltip="Add employee" (click)="addNewEmployee()">Add Employee</button>
        </div>
      </mat-grid-tile></mat-grid-list>
  </form>
</div>
