mat-toolbar {
  justify-content: space-evenly;
}
.before-login {
  background-color: inherit;
}
.after-login {
  background-color: white;
}
img {
  width: 25%;
  height:25%;
}
span {
  padding-right: 20%;
}
