.before-login {
  background-image: url("../assets/Images/bgImg2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.after-login {
  background: linear-gradient(to top, #33ccff 0%, #ffffff 200%);
}
