<div fxLayout="column">
<mat-form-field>
  <input matInput placeholder="search" (keyup)="applyFilter($event.target.value)">
</mat-form-field>
<div fxFlex>
<mat-grid-list cols="2" rowHeight="4:1">
  <div *ngFor="let employee of obs | async">
    <mat-grid-tile>
      <mat-card>
        <mat-grid-list cols="2" rowHeight="4:1">
          <mat-grid-tile class="card-top">{{employee.firstName}}, {{employee.lastName}}</mat-grid-tile>
          <mat-grid-tile class="card-top"><button mat-icon-button (click)="deleteEmployee(employee)" matTooltip="remove Employee" matTooltipPosition = 'right'><mat-icon>close</mat-icon></button></mat-grid-tile>
          <mat-grid-tile><img [src] = getImageUrl(employee.gender) alt=employee.gender></mat-grid-tile>
          <mat-grid-tile>{{'CRR: ' + employee.CRR}}</mat-grid-tile>
        </mat-grid-list>
      </mat-card>
    </mat-grid-tile>
  </div>
</mat-grid-list>
</div>
<div>
<mat-paginator [pageSizeOptions]="[4]" showFirstLastButtons></mat-paginator>
</div>
</div>