mat-icon:hover {
  cursor: pointer;
}
mat-paginator {
  background: inherit;
}
.card-top {
  background-color: blanchedalmond;
}
img {
  height: 75%;
  width: 50%;
}
mat-card {
  width: 50%;
  padding: 0 0 0 0;
}
@media(max-width: 426px) {
  mat-card {
    width: 100%;
    padding: 0 0 0 0;
    height: 100%;
  }
  img {
    width: 50%;
    height: 75%;
  }
}