mat-card {
  width: 500px;
  padding: 0 0 0 0;
  height: 110px;
}
mat-icon {
  height: 10px;
  width: 10px;
}
mat-icon:hover {
  cursor: pointer;
}
mat-paginator {
  background: inherit;
}
img {
  height: 40px;
  width: 40px;
}
.card-top {
  background-color: blanchedalmond;
}
