div.container {
  margin: 0px 40px;
}
.fill-remaining-spaces {
  flex: 1 1 auto;
}
form.normal-form {
  margin: 10px;
}
.controller-container {
  width: 100%;
  padding: 5%;
}
.controller-container > * {
  width: 100%;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
mat-slider {
  width: 200px;
}
.radioStyle input{
  margin:0;padding:0;
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
}
.male{background-image:url('../assets/Images/male.png');}
.female{background-image:url('../assets/Images/female.png');}

.radioStyle input:active +.gender{opacity: .9;}
.radioStyle input:checked +.gender{
  -webkit-filter: none;
  -moz-filter: none;
  filter: none;
}
.gender{
  cursor:pointer;
  background-size:contain;
  background-repeat:no-repeat;
  display:inline-block;
  width:100px;height:70px;
  -webkit-transition: all 100ms ease-in;
  -moz-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
  -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
  -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
  filter: brightness(1.8) grayscale(1) opacity(.7);
}
.gender:hover{
  -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
  -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
  filter: brightness(1.2) grayscale(.5) opacity(.9);
}
mat-slider {
  width: 100px;
}
mat-card {
  height: 88%;
  padding: 0 0 0 0;
  background: linear-gradient(to top, #33ccff 0%, #ffffff 100%);
}
